fastapi
elasticsearch[async]>=7.0.0,<8.0.0
# elasticsearch-dsl>=7.0.0,<8.0.0
uvicorn[standard]
aiofiles
redis
matplotlib
lz4
zstandard
msgpack
pyvips
flask
gunicorn
gevent
eventlet
aiosonic
uvloop
requests
orjson
numpy
aioboto3==9.2.2
# remove later or make optional
pyroaring
msgpack
pyvespa
orjson
